body {
    background-color: var(--color-background);
    font-family: "Poppins", sans-serif;
    transition: background-color 0.3s ease;
}
.navbar {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 1.5rem;
    justify-content: center;
    margin-top: 25px;
}

.navLink {
    text-decoration: none;
    color: var(--color-primary);
}
.navLink:hover {
    color: var(--color-accent)
}

.themeButton {
    display: flex;
    background: none;
    padding: 0;
    margin: 0;
    transition: transform 0.3s ease;
    cursor: pointer;
    color: var(--color-primary);
    padding: 8px;
    border: 2px solid var(--color-accent);
    border-radius: 50%;
}

.themeButton:hover {
    color: var(--color-accent);
    transform: scale(1.1);
}