:root {
    --z-mobile-header: 20;
    --z-mobile-dropdown: 10;
    --z-mobile-overlay: 9;
}

body {
    position: relative;
    background-color: var(--color-background);
    font-family: "Poppins", sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    /* background-color: var(--color-background); */
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: var(--z-mobile-overlay);
}
.desktopNavBar {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 1.5rem;
    justify-content: center;
    margin-top: 25px;
}
.navLink {
    text-decoration: none;
    color: var(--color-primary);
}
.navLink:hover {
    color: var(--color-accent)
}

.mobileNavHeader {
    z-index: var(--z-mobile-header);
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-background);
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 1rem 1.5rem 0.5rem 1.5rem;
}
.mobileDropdown {
    z-index: var(--z-mobile-dropdown);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    background-color: var(--color-background);
    font-size: 1.5rem;
    position: fixed;
    top: -100%;
    width: 100%;
    height: 0; /* Start collapsed */
    margin: 0;
    padding-top: 75px;
    padding-bottom: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: top 0.3s ease-out, height 0.3s ease-out;
}

.hamburgerLine {
    width: 30px;
    height: 4px;
    background-color: var(--color-accent);
    margin: 2.5px 0;
    border-radius: 16px;
    transition: transform 0.3s ease;
}
.hamburgerButton {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background: none;
    border: none;
    align-items: center;
    transform: scale(1.1)
}
.hamburgerButton.active .hamburgerLine:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px) scaleX(1.2);
}
.hamburgerButton.active .hamburgerLine:nth-child(2) {
    opacity: 0;
    transform: scaleX(0);
}
.hamburgerButton.active .hamburgerLine:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px) scaleX(1.2);
}

.themeButton {
    cursor: pointer;
    display: flex;
    background: none;
    margin: 0;
    color: var(--color-primary);
    padding: 8px;
    border: 2px solid var(--color-accent);
    border-radius: 50%;
    transition: transform 0.3s ease;
}
.themeButton:hover {
    color: var(--color-accent);
    transform: scale(1.1);
}

/* Phones */
@media (max-width: 480px) {
    body {
        padding-top: 5rem;
    }
    .desktopNavBar {
        display: none;
    }
    .mobileNavHeader {
        display: flex;
    }
    .mobileDropdown.show {
        top: 0;
        height: auto;
    }
    .overlay.show {
        visibility: visible;
        opacity: 1;
        backdrop-filter: blur(6px);
    }
}
/* Phones + small tablets */
@media (max-width: 768px) {

}

/* Tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    
}