.container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.header {
    color: var(--color-primary);
    font-size: 2rem;
    text-align: center;
}

.addTaskContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    max-width: 100%;
}

.taskInput {
    font-size: 16px;
    width: 295px;
    height: 48px;
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    background-color: var(--color-background);
    color: var(--color-text);
    padding: 0px 15px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.addTaskBtn {
    width: 295px;
    height: 48px;
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    background-color: var(--color-accent);
    color: var(--color-primary);
}

.addTaskBtn:hover {
    background-color: var(--color-secondary);
}

.tasksSection {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: flex-start;
    align-self: center;
    width: 100%;
    max-width: 600px;
    margin-top: 48px;
    margin-bottom: 24px;
}
.controlArea {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 4px 8px;
    box-sizing: border-box;
}
.clearAllBtn {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: none;
    border: none;
    color: var(--color-destructive);
    padding: 0;
}
.clearAllBtn:hover {
    transform: scale(1.05);
    text-shadow: 0 0 10px var(--color-destructive);
}
.tasksList {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: center;
    width: 100%;
    max-width: 600px;
}
.task {
    width: 100%;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    background-color: var(--color-background);
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
}
.slideInTask {
    animation: slideInFromLeft 0.3s ease-out forwards;
    animation-delay: var(--animation-delay, 0s);
    transform: translateX(-100%);
    opacity: 0;
}
@keyframes slideInFromLeft {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.taskCheckBox {
    cursor: pointer;
    accent-color: var(--color-accent);
    border-color: var(--color-secondary);
}
.taskCheckBox:hover {
    transform: scale(1.25);
}

.taskContent {
    flex: 1;
    font-weight: bolder;
    color: var(--color-text);
    line-height: 1.25;
    word-break: break-word;
}
.taskContent:hover {
    color: var(--color-accent);
}

.taskEdit {
    width: 100%;
    field-sizing: content;
    resize: none;
    background-color: var(--color-background);
    outline: none;
    border: 1px solid var(--color-secondary);
    border-radius: 4px;
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.controlButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    color: var(--color-accent);
    cursor: pointer;
    padding: 0;
}
.controlButton:hover {
    transform: scale(1.25);
}
.deleteButton {
    color: red;
}

/* Responsive Design */
@media (max-width: 620px) {
    .tasksSection {
        max-width: 90%;
    }
    .buttonGroup {
        flex-direction: column;
    }
}
@media (max-width: 420px) {
    .tasksSection {
        max-width: 95%;
    }
}
@media (max-width: 320px) {
    .tasksSection {
        max-width: 100%;
    }
    .task {
        font-size: 14px;
    }
}